* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

h1 {
font-size: 5em;
margin: 0 0 20px 0;
}

h2 {
 margin-top: 40px;
}

h4 {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 30px 0 0 0;
}

p {
    margin: 5px 0;
}

a {
    color: inherit;
}

.cv {
    display: flex;
}

.left {
    width: 30%;
    background-color: rgb(45, 45, 45);
    color: aliceblue;
    padding: 60px;
}

.right {
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 60px;
    }

    .photo {
        width: 70%;
        border-radius: 50%;
        margin-left: 10%;
    }

    .line {
        width: 50px;
        height: 2px;
        margin: 20px 0;
    }

    .white {
        background-color: white;
    }

    .black {
        background-color: black;
    }

    .gray {
        background-color: gray;
    }

    .position {
        font-size: 1.7em;
        letter-spacing: 0.15em;
    }

    .education {
        margin: 20px 0;
    }

    .dots-block {
        display: flex;
        flex-direction: column;
         margin-left: 20px;
    }

    .dots {
        display: flex;
        margin: 11px 5px 10px 0;
    }

    .lang-names {
        margin: 10px 5px 10px 0;
    }

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 1px;
    }
    .lang {
        display: flex;
    }

    .skills {
        display: flex;
    }

    .skills-left {
        width: 50%;
    }


    